## .NET / Visual Studio
bin/
obj/
publish/
*.zip
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Local App Data & Config
config.json
crash.log
scratch/

## User-specific files
*.rsuser
*.suo
*.user
*.userhost
*.sln.docstates

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
